SITE_ID="PUT_SITE_ID_HERE"
WIDGET_ID="PUT_WIDGET_ID_HERE"
ADSPACE_ID = "PUT_ADSPACE_ID_HERE"
VIDEO_API_KEY="PUT_API_KEY_HERE"
HOST_DOMAIN_URL=PUT_HOST_DOMAIN_URL_HERE
HOST_PATH_URL=PUT_HOST_PATH_URL_HERE