<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cxense.cxtube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ebf1bf8da7e70fe66ceceb950d6aa710f55f9243" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <tools:validation testUrl="${hostUrl}" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostDomain}"
                    android:pathPattern="${hostPath}"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <tools:validation testUrl="${hostUrl}video/lion-air-may-launch-boeing-737-max-10/119543025/test" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cxense.cxtube.ui.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostDomain}"
                    android:pathPrefix="${hostPath}video/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TaggedVideosActivity"
            android:label="@string/title_activity_tagged_videos"
            android:parentActivityName=".ui.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <tools:validation testUrl="${hostUrl}tag/alexandria-virginia" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cxense.cxtube.ui.VideoActivity" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostDomain}"
                    android:pathPrefix="${hostPath}tag/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>